@import url("https://fonts.googleapis.com/css?family=Montserrat:300,700"); /* import Montserrat font  */

* {
    box-sizing: border-box;
}

body,
html {
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
    margin: 0;
}

body {
      background-size: cover;
}

#home-container {
    display: grid;
    grid-template-columns: 10px 1fr 10px; /* for left and right sections change*/
    grid-template-rows: 10px 1fr 1fr 10px;
    grid-gap: 20px;
    height: 100vh;
}

#inner {
    grid-row: 2;
    grid-column: 2;
    align-self: center;
    justify-self: center;
}

#illustration {
    grid-row: 3;
    grid-column: 2;
    align-self: center;
    justify-self: center;
    width: 100%;
    padding: 10px;
    
   }

@media (min-width: 768px) {
    #home-container {
        grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
        grid-template-rows: 1fr;
    }
   

    #inner {
        grid-column: 2;
        grid-row: 1;
    }

    #illustration {
        grid-column: 3;
        grid-row: 1;
    }
 }
#logo {
   
    animation: monitorIn 1s ease-in-out forwards; /* assign animation to monitor with 'monitorIn' as keyframe name */
    opacity: 0;
    
     }
    
    h1 {
    text-transform: capitalize;
    color: #535353;
    margin-bottom: 0.2em;
        
    } 
    
  

    
    p.subtitle {
    font-size: 1.4em;
    color: #858585;
    margin-top: 0;

}

.cta {
    background-color: #d60f5f;
    padding: 1em;
    color: #fff;
    font-weight: bold;
    margin-top: 2em;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0 0 0 0 rgba(9, 187, 233, .2);
}

.cta:hover,
.cta:focus {
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.50, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.50, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.50, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.50, 0, 0, 1);
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 20px rgba(9, 187, 233, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 20px rgba(9, 187, 233, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 20px rgba(9, 187, 233, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 20px rgba(9, 187, 233, 0);}}

     @keyframes monitorIn {
    from {
        transform: translateY(-30px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
    } 
    
.social-media-list {
    list-style: none;
   
}

.social-media-list li {
    display: inline-block;
    margin-right: 1em;
    font-size: 180%;

}

.social-media-list li a {
    color: #888;
    transition: color 0.5s;
}

.logo-twitter:hover {
    color: #55ACEE
}

.logo-medium:hover {
    color: #12100e
}

.logo-youtube:hover {
    color: #bb0000
}

.logo-linkedin:hover {
    color: #007bb5
}
    
    

ul li a:hover:nth-child(3) {
  color: #c32aa3;
}
ul li a:hover:nth-child(4) {
  color: #dd4b39;
}
